<!-- <div class="be-left-sidebar bg-white">
  <div class="nav-side-menu">
    <div class="menu-list">
      <ul id="menu-content" class="menu-content">
        <li [routerLinkActive]="['active']"><a [routerLink]="['dashboard']">Trang chủ</a></li>
        <li class="divider"></li>
        <li data-toggle="collapse">
          <a href="javascript:void(0);">Danh mục <span class="arrow"></span></a>
          <ul class="sub-menu collapse">
            <li class="font-600 caption">Danh mục chung</li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/danh-muc/dia-phuong']">Tỉnh thành</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/danh-muc/donvi-tinh']">Đơn vị tính</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/danh-muc/dan-toc']">Dân tộc</a></li>

            <li [routerLinkActive]="['active']"><a [routerLink]="['/danh-muc/don-vi']">Đơn vị</a></li>

            
          </ul>
        </li>
        
        <li class="divider"></li>
        <li data-toggle="collapse">
          <a href="javascript:void(0);">Hệ thống <span class="arrow"></span></a>
          <ul class="sub-menu collapse">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/he-thong/nguoi-dung']">Người dùng</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/he-thong/nhom-nd']">Nhóm người dùng</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/he-thong/quyen']">Quyền</a></li>
            <li class="font-600 caption"></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/danh-muc/config-ngaynghi']">Thiết lập ngày nghỉ</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div> -->