<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-header" style="display: flow-root;">
    <button type="button" class="close" (click)="closed()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">
      <i style="margin-right: 10px; color: #17b799; font-size: 20px;" class="fa fa-plus-square"></i> {{title}}
    </h4>
  </div>
  <div class="modal-body">
    <div class="clearfix">
      <div class="row">      
        <div class="col-sm-12">
          <div class="row row-frm">
            <div class="col-sm-6">
              <div class="float-input" title="Phân xưởng">
                <label class="disabled">Phân xưởng</label>
                <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                <ng-select bindLabel="name" placeholder="Mã xưởng" appendTo="body" [searchable]="true"
                  [clearable]="true" formControlName="ma_xuong">
                  <ng-option [value]="item.ma_xuong" [disabled]="true" *ngFor="let item of dataxuong">
                    <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                    {{item.ten_xuong}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="float-input" title="Kho">
                <label class="disabled">Kho</label>
                <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                <ng-select bindLabel="name" placeholder="Mã kho" appendTo="body" [searchable]="true" [clearable]="true"
                  formControlName="ma_kho">
                  <ng-option [value]="item.ma_kho" [disabled]="true" *ngFor="let item of datakho">
                    <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                    {{item.ten_kho}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="float-input" title="Loại vật tư">
                <label class="disabled">Loại vật tư</label>
                <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                <ng-select bindLabel="name" placeholder="Loại vật tư" appendTo="body" [searchable]="true" [clearable]="true"
                formControlName="loai_vattu" (change)="change_loaivt()">
                  <ng-option [value]="item.loaivt_id" *ngFor="let item of dataloaivattu">
                    <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                    {{item.ten_loaivt}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="float-input" title="Vật tư/Nguyên liệu">
                <label class="disabled">Vật tư/Nguyên liệu</label>
                <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                <ng-select bindLabel="name" placeholder="Mã vật tư" appendTo="body" [searchable]="true"
                  [clearable]="true" formControlName="ma_vattu">
                  <ng-option [value]="item.ma_vattu" *ngFor="let item of datavattu">
                    <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                    {{item.ten_vattu}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="float-input" title="Số lượng">
                <label class="disabled">Số lượng <span class="required"></span></label>
                <input type="text" formControlName="soluong" class="form-control" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="float-input" title=">Đơn vị tính">
                <label class="disabled">Đơn vị tính</label>
                <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                <ng-select bindLabel="name" placeholder="Đơn vị tính" appendTo="body" [searchable]="true"
                  [clearable]="true" formControlName="donvi_tinh">
                  <ng-option [value]="item.ma_dv_tinh" *ngFor="let item of datadonvitinh">
                    <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                    {{item.ten_dv_tinh}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="float-input">
                <label class="disabled">Tình trạng</label>
                <ng-select bindLabel="name" placeholder="Tình trang" appendTo="body" [searchable]="true"
                  [clearable]="true" formControlName="tinhtrang_chatluong">
                  <ng-option [value]="item.ttcl_id" *ngFor="let item of datatinhtrang">
                    <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                    {{item.ten_ttcl}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="float-input" title="Ghi chú">
                <label  class="disabled">Ghi chú <span class="required"></span></label>
                <input type="text" formControlName="ghichu" class="form-control" />
              </div>
            </div> 
          </div>
        </div>
      </div>    
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Lưu</button>
    <button type="button" class="btn btn-sm btn-default" (click)="closed()">Đóng</button>
  </div>
</form>