<section class="clearfix">
  <app-top-nav></app-top-nav>
    <app-side-nav></app-side-nav>
    <div class="be-content">
      <div class="main-content container-fluid">
        <section class="clearfix">
          <router-outlet></router-outlet>
        </section>
      </div>
      <footer class="clearfix" >
        <div>
        <p class="text-footer-name">HỢP TÁC XÃ NÔNG NGHIỆP SINH THÁI CẨM XUÂN</p>

        <p class="text-footer-camxuan-add">Địa chỉ: Tổ 13 ấp Cọ Dầu 2, xã Xuân Đông, huyện Cẩm Mỹ, tỉnh Đồng Nai</p>
        <p class="text-footer-camxuan-add">MST: 3603869701 - Điện thoại: 0904 334 119 / 0913 425 207</p>
      </div>       
        <!-- <div id="vnpt-logo"></div>
        <p class="gray-color">
          Xây dựng và phát triển bởi Trung tâm  CNTT - VNPT Thừa Thiên Huế
          <br> 
          © 2020 thuộc VNPT Thừa Thiên Huế * Điện thoại: (0234)-3846869 * Email: support_hue@vnpt.vn</p> -->
    </footer>
    </div>
</section>