<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">
      <img src="../../../../assets/images/modal-icon.png" alt="ico"> {{title}} - Danh mục Dân tộc
    </h4>
  </div>
  <div class="modal-body">
    <div class="clearfix">
      <div class="row">
        <div class="col-sm-12">
          <div class="row row-frm">
            <div class="col-sm-3">
              <div class="float-input">
                <label class="disabled">Mã <span class="required"></span></label>
                <input type="text" formControlName="ma_dantoc" class="form-control" />
              </div>
            </div>
            <div class="col-sm-9">
              <div class="float-input">
                <label class="disabled">Tên dân tộc <span class="required"></span></label>
                <input type="text" formControlName="ten_dantoc" class="form-control"  />
              </div>
            </div>
          </div>    
            <div class="row row-frm">
              <div class="col-sm-12">
                <div class="float-input">
                  <label class="disabled">Tên gọi khác</label>
                  <textarea type="text" formControlName="ten_goikhac" class="form-control"></textarea>
                </div>
              </div>              
            </div>
            <div class="row row-frm">
              <div class="col-sm-12">
                <div class="float-input">
                  <label class="disabled">Trạng thái</label>
                  <select formControlName="trangthai" class="form-control">
                      <option value="1">Sử dụng</option>
                      <option value="2">Không sử dụng</option>
                  </select>
                </div>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Lưu</button>
    <button type="button" class="btn btn-sm btn-default" (click)="modalRef.hide()">Đóng</button>
  </div>
</form>