<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-header" style="display: flow-root;">
    <button type="button" class="close" (click)="closed()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">
      <i style="margin-right: 10px; color: #17b799; font-size: 20px;" class="fa fa-plus-square"></i> {{title}}
    </h4>
  </div>
  <div class="modal-body">
    <div class="clearfix">
      <div class="row">
        <div class="col-sm-12">
          <div class="row row-frm">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="float-input" title="Phân xưởng">
                  <label class="disabled">Phân xưởng</label>
                  <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                  <ng-select [disabled]="true" bindLabel="name" placeholder="Mã xưởng" appendTo="body"
                    [searchable]="true" formControlName="ma_xuong">
                    <ng-option [value]="item.ma_xuong" [disabled]="true" *ngFor="let item of dataxuong">
                      <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                      {{item.ten_xuong}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="float-input" title="Đường">
                  <label class="disabled">Đường</label>
                  <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                  <ng-select bindLabel="name" placeholder="Mã đường" appendTo="body" [searchable]="true"
                    formControlName="ma_duong">
                    <ng-option [value]="item.ma_duong" [disabled]="true" *ngFor="let item of dataduong">
                      <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                      {{item.ten_duong}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="float-input" title="Luống">
                  <label class="disabled">Luống</label>
                  <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                  <ng-select bindLabel="name" placeholder="Mã luống" appendTo="body" [searchable]="true"
                    [clearable]="true" formControlName="ma_luong">
                    <ng-option [value]="item.ma_luong" [disabled]="true" *ngFor="let item of dataluong">
                      <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                      {{item.ten_luong}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-6" style="margin-bottom:15px">
                <div title="Nhập nguyên liệu từ kho">
                  <label>
                    <input type="radio" name="kieunhap" value="1" formControlName="nhaptukho"
                      (change)="onOptionSelected($event)">
                    Nhập nguyên liệu từ kho
                  </label>
                </div>
              </div>
              <div class="col-sm-6" style="margin-bottom:15px">
                <div title="Nhập nguyên liệu từ luống khác">
                  <label>
                    <input type="radio" name="kieunhap" value="2" formControlName="nhaptukho"
                      (change)="onOptionSelected($event)">
                    Nhập nguyên liệu từ luống khác
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div *ngIf="nhaptukho == 1">
                <div class="col-sm-6">
                  <div class="float-input" title="Kho">
                    <label class="disabled">Kho</label>
                    <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                    <ng-select bindLabel="name" placeholder="Mã Kho" appendTo="body" [searchable]="true"
                      formControlName="ma_kho" (change)="change_kho()">
                      <ng-option [value]="item.ma_kho" *ngFor="let item of datakho">
                        <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                        {{item.ten_kho}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="float-input" title="Vật tư/Nguyên liệu">
                    <label class="disabled">Vật tư/Nguyên liệu</label>
                    <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                    <ng-select bindLabel="name" placeholder="Mã vật tư" appendTo="body" [searchable]="true"
                      [clearable]="true" formControlName="ma_vattu">
                      <ng-option [value]="item.ma_vattu" *ngFor="let item of datavattu">
                        <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                        {{item.ten_vattu}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="float-input" title="Số lượng">
                    <label class="disabled">Số lượng <span class="required"></span></label>
                    <input type="number" min="0" max="100" step="1" formControlName="soluong" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="float-input" title=">Đơn vị tính">
                    <label class="disabled">Đơn vị tính</label>
                    <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                    <ng-select bindLabel="name" placeholder="Đơn vị tính" appendTo="body" [searchable]="true"
                      [clearable]="true" formControlName="donvi_tinh">
                      <ng-option [value]="item.ma_dv_tinh" *ngFor="let item of datadonvitinh">
                        <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                        {{item.ten_dv_tinh}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div *ngIf="nhaptukho == 2">
                <div class="col-sm-12">
                  <div class="float-input" title="Chọn luống phân đang xử lí">
                    <label class="disabled">Chọn luống phân</label>
                    <ng-select bindLabel="name" placeholder="Mã luống" appendTo="body" [searchable]="true"
                      [clearable]="true" formControlName="ma_luong">
                      <ng-option [value]="item.ten_luong" *ngFor="let item of dataluong">
                        <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                        {{item.ten_luong}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="float-input" title="Số lượng">
                    <label class="disabled">Số lượng <span class="required"></span></label>
                    <input type="text" formControlName="soluong" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="float-input" title=">Đơn vị tính">
                    <label class="disabled">Đơn vị tính</label>
                    <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                    <ng-select bindLabel="name" placeholder="Đơn vị tính" appendTo="body" [searchable]="true"
                      [clearable]="true" formControlName="donvi_tinh">
                      <ng-option [value]="item.ma_dv_tinh" *ngFor="let item of datadonvitinh">
                        <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                        {{item.ten_dv_tinh}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="text-align: center;">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Nhập nguyên liệu</button>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-12">
                <label>
                  DANH SÁCH NGUYÊN LIỆU LUỐNG PHÂN
                </label>
                <table class="table table-condensed table-striped table-bordered">
                  <thead>
                    <tr>
                      <th class="col-sm-1">STT</th>
                      <th class="col-sm-1">Mã luống</th>
                      <th class="col-sm-3">Tên luống</th>
                      <th class="col-sm-1">Mô tả</th>
                      <th class="col-sm-1">Trạng thái</th>
                      <th class="col-sm-2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let dataluong of dataluongs | filter:term | paginate: { itemsPerPage: 15, currentPage: p };let i = index">
                      <td class="text-center">{{i + 1 }}</td>
                      <td>
                        {{dataluong.ma_luong}}
                      </td>
                      <td>
                        {{dataluong.ten_luong}}
                      </td>
                      <td>
                        {{dataluong.mota}}
                      </td>
                      <td>
                        <p> <i *ngIf="dataluong.trangthai == 1" style="margin-right: 5px; color: chartreuse;"
                            class="fa fa-circle"></i>
                          <i *ngIf="dataluong.trangthai != 1" style="margin-right: 5px; color: red;"
                            class="fa fa-circle"></i>
                          {{dataluong.ten_trangthai}}
                        </p>
                      </td>
                      <td class="text-center chucnang-fa">
                        <a href="javascript:void(0);" (click)="edit(dataluong)">
                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default" (click)="closed()">Đóng</button>
  </div>
</form>