<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-header" style="display: flow-root;">
    <button type="button" class="close" (click)="closed()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">
      <i style="margin-right: 10px; color: #17b799; font-size: 20px;" class="fa fa-plus-square"></i> {{title}}
    </h4>
  </div>
  <div class="modal-body">
    <div class="clearfix">
      <div class="row">      
        <div class="col-sm-12">
          <div class="row row-frm">
            <div class="col-sm-6">
              <div class="float-input" title="Mã kho">
                <label  class="disabled">Mã kho <span class="required"></span></label>
                <input type="text" [readonly]="disabled" formControlName="ma_kho" class="form-control" />
              </div>
            </div> 
            <div class="col-sm-6">
              <div class="float-input" title="Tên kho">
                <label  class="disabled">Tên kho <span class="required"></span></label>
                <input type="text" formControlName="ten_kho" class="form-control" />
              </div>
            </div> 
            <div class="col-sm-6">
              <div class="float-input" title="Phân xưởng">
                <label  class="disabled">Phân xưởng</label>
                <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                <ng-select  bindLabel="name" placeholder="Mã xưởng" appendTo="body"
                  [searchable]="true" [clearable]="true" formControlName="ma_xuong">
                  <ng-option  [value]="item.ma_xuong" [disabled]="disabled" *ngFor="let item of dataxuong">
                    <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                    {{item.ten_xuong}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
              <div class="col-sm-6">
                <div class="float-input">
                  <label class="disabled">Loại kho</label>
                  <ng-select bindLabel="name" placeholder="Loại kho" appendTo="body"
                  [searchable]="true" [clearable]="true" formControlName="loai_kho">
                  <ng-option [value]="item.loaikho_id" [disabled]="item.disabled" *ngFor="let item of dataloaikho">
                    <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                    {{item.ten_loaikho}}
                  </ng-option>
                  </ng-select>

                </div>
              </div>
            <div class="col-sm-12">
              <div class="float-input" title="Ghi chú">
                <label  class="disabled">Ghi chú <span class="required"></span></label>
                <input type="text" formControlName="ghichu" class="form-control" />
              </div>
            </div> 
          </div>
        </div>
      </div>    
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Lưu</button>
    <button type="button" class="btn btn-sm btn-default" (click)="closed()">Đóng</button>
  </div>
</form>