<section id="main" class="extend clearfix" style="min-height: 700px;">
  <div class="header-div">
    <div class="header-text">
      <h3 style="float: left">
        <a href="/">
          <span class="header-img">
            <img src="../../../../assets/images/logo_ktm.png">
            Danh mục kho
          </span>
        </a>
      </h3>
    </div>
  </div>
  <div class="danhsach" style="background: #fff !important;">
    <div class="row row-frm">      
      <div class="col-sm-12">
        <div class="modal-body">
          <div class="clearfix">
            <div id="grid-result" class="body" >
              <div style="text-align: right;">
                <button type="button" class="btn btn-primary" style="margin-bottom: 10px;border-radius:3px;" (click)="add()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Thêm mới</button>
              </div>
              <div *ngIf="type_view == false">
                <table class="table table-condensed table-striped table-bordered">
                  <thead>
                    <tr>
                      <th class="col-sm-1">STT</th>
                      <th class="col-sm-1">Mã kho</th>
                      <th class="col-sm-2">Tên kho</th>
                      <th class="col-sm-1">Loại kho</th>
                      <th class="col-sm-2">Phân xưởng</th>
                      <th class="col-sm-2">Ghi chú</th>
                      <th class="col-sm-2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let kho of khos | filter:term | paginate: { itemsPerPage: 15, currentPage: p };let i = index">
                      <td class="text-center">{{i + 1 }}</td>
                      <td>
                        {{kho.ma_kho}}
                      </td>
                      <td>
                        {{kho.ten_kho}}
                      </td>
                      <td>
                        {{kho.ten_loai_kho}}
                      </td>
                      <td>
                        {{kho.ten_xuong}}
                      </td>
                      <td>
                        {{kho.ghichu}}
                      </td>
                      <td class="text-center chucnang-fa">
                        <a href="javascript:void(0);" (click)="edit(kho)">
                          <i class="fa fa-edit" style="color: blue; font-size: 20px;"></i>
                        </a>
                        <a href="javascript:void(0);" (click)="deletekho(kho)">
                          <i class="fa fa-times-circle" style="color: red; font-size: 20px;"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="type_view">
                <div
                  *ngFor="let kho of khos  | filter:term | paginate: { itemsPerPage: 8, currentPage: p }; let i = index"
                  class="col-sm-12 nhansu-detail">
                  <div class="edit-card-custom">
                    <a class="text-center tooltips c-pointer" (click)="edit(kho)"
                      style="position: absolute; right: 30px; cursor:pointer;">
                      <i class="fa fa-edit" style="color: blue; font-size: 20px;"></i>
                    </a>
                    <a class="text-center tooltips c-pointer" (click)="deletekho(kho)"
                      style="position: absolute; right: 8px; cursor:pointer;">
                      <i class="fa fa-times-circle" style="color: red; font-size: 20px;"></i>

                    </a>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="nhansu-name">
                        <i *ngIf="kho.trangthai == 0" style="margin-right: 5px; color: chartreuse;"
                          class="fa fa-circle"></i>
                        <i *ngIf="kho.trangthai != 0" style="margin-right: 5px; color: red;"
                          class="fa fa-circle"></i>
                        {{kho.ten}}
                      </p>
                    </div>
                    <div class="col-sm-6">
                      <label> Tên đơn vị: {{kho.tendonvi}}</label>
                    </div>
                    <div class="col-sm-6">
                      <div class="float-input" title="Nội dung">
                        <label class="disabled">Nội dung <span class="required"></span></label>
                        <textarea type="text" readonly style="background-color: #fff;" [(ngModel)]="kho.noidung"
                          class="form-control trichyeuvanban"></textarea>
                      </div>                    
                    </div>
                    <div class="col-sm-6">
                      <div class="float-input" title="Văn bản đính kèm">
                        <table class="table table-condensed table-striped table-bordered">
                          <thead>
                            <tr>
                              <th class="col-sm-1">STT</th>
                              <th class="col-sm-7">Tên File</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let fileat of kho.file; let i = index">
                              <td>{{i + 1 }}</td>
                              <td>
                                <a href="{{serviceBase}}/{{fileat[8]}}" target="_blank">{{ fileat[9] }}</a>
                              </td>                            
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gray-bg btn-block">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row row-frm">
                      <div class="col-md-6">
                        <span class="grid-counter gray-color fc-666 pull-left">Số bản ghi: <strong>{{totalItems}}</strong>
                          </span>
                      </div>
                      <div class="col-md-6">
                        <pagination-controls (pageChange)="p = $event" class="pull-right" previousLabel="" nextLabel="">
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>