<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-header" style="display: flow-root;">
    <button type="button" class="close" (click)="closed()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">
      <i style="margin-right: 10px; color: #17b799; font-size: 20px;" class="fa fa-plus-square"></i> {{title}}
    </h4>
  </div>
  <div class="modal-body" id="dashboard">
    <div class="clearfix">
      <div class="row">
        <div class="col-sm-12 nhansu-detail">
          <div class="row">
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h4 class="ng-binding color-green"><strong>Thông tin nhân sự</strong>
              </h4>
              <div class="col-sm-6" style="text-align: center;">
                <img class="img-nhansu" src="{{serviceBase}}/{{data.duongdan_file}}/{{data.ten_file}}"
                  onerror="this.src='../../../../assets/images/icon_account.png';" />
              </div>
              <div class="col-sm-6">
                <div class="nhansu-detail-giamsat">
                  <p class="nhansu-name">{{data.ten_nd}}</p>
                  <p> <i *ngIf="data.active == 1" style="margin-right: 5px; color: chartreuse;"
                      class="fa fa-circle"></i>
                    <i *ngIf="data.active != 1" style="margin-right: 5px; color: red;" class="fa fa-circle"></i>
                    {{data.ma_nv}}
                  </p>
                  <p> <i style="margin-right: 5px;" class="fa fa-address-card"></i> {{data.chucdanh}}</p>
                  <p> <i style="margin-right: 5px;" class="fa fa-phone-square"></i> {{data.so_dt}}</p>
                  <p> <i style="margin-right: 5px; " class="fa fa-university"></i> {{data.ten_dv}}</p>
                  <p> <i style="margin-right: 5px; color: coral;" class="fa fa-envelope"></i>{{data.email}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h4 class="ng-binding color-blue"><strong>Tổng quan công việc</strong>
              </h4>
              <div class='col-sm-6'>
                <div class="sum-box info">
                  <h2>{{tongso}}</h2>
                  <h4>Tổng số</h4>
                  <h5><span>Đã giao: {{tongso_dagiao}} - </span><span>Cần thực hiện: {{tongso_duocgiao}}</span></h5>
                </div>
              </div>
              <div class='col-sm-6'>
                <div class="sum-box orange">
                  <h2>{{quahan}}</h2>
                  <h4>Quá hạn </h4>
                  <h5><span>Đã giao: {{quahan_dagiao}} - </span><span>Cần thực hiện: {{quahan_duocgiao}}</span></h5>
                </div>
              </div>
              <div class='col-sm-6'>
                <div class="sum-box yellow">
                  <span class="pull-left text-left"><label class="small-text" tooltip="Đang thực hiện"><span> Đang thực
                        hiện</span></label><label title="Đang thực hiện"
                      class="sum-month">{{dangthuchien}}</label></span>
                  <h2>{{chuathuchien}}</h2>
                  <h4>Chưa thực hiện</h4>
                  <h5><span>Đã giao: {{chuathuchien_dagiao}} - </span><span>Cần thực hiện:
                      {{chuathuchien_duocgiao}}</span>
                  </h5>
                </div>
              </div>
              <div class='col-sm-6'>
                <div class="sum-box green">
                  <h2>{{hoanthanh}}</h2>
                  <h4>Hoàn thành</h4>
                  <h5><span>Đã giao: {{hoanthanh_dagiao}} - </span><span>Cần thực hiện: {{hoanthanh_duocgiao}}</span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class='row sum-boxes not-min'>
          </div>
          <div *ngIf="this.list_quahan.length > 0" class="row">
            <div class="col-md-12">
              <div class="panel panel-default sbox">
                <div class="panel-body card-body text-left pd-0">
                  <h4 class="ng-binding color-warning"><strong>Cảnh báo công việc quá hạn</strong>
                  </h4>
                  <div class="clearfix">
                    <div id="grid-result" class="body">
                      <div class="hr-grid table-responsive">
                        <table class="table table-sm">
                          <thead>
                            <tr>
                              <th class="w200 center">Tên công việc</th>
                              <th class="w35 center">Người giao</th>
                              <th class="w35 center">Ngày giao</th>
                              <th class="w35 center">Người giám sát</th>
                              <th class="w35 center">Ngày bắt đầu</th>
                              <th class="w35 center">Ngày kết thúc</th>
                              <th class="w35 center">Số ngày quá hạn</th>
                              <th class="w35 center">Tiến độ</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let quahan of list_quahan">
                              <td class="font-600">{{ quahan.ten_cv }}</td>
                              <td class="center">{{ quahan.nguoigiao }}</td>
                              <td class="center">{{ quahan.ngay_giao }}</td>
                              <td class="center">{{ quahan.nguoi_giamsat }}</td>
                              <td class="center">{{ quahan.ngay_batdau }}</td>
                              <td class="center">{{ quahan.ngay_ketthuc }}</td>
                              <td class="center">{{ quahan.songay_quahan}}</td>
                              <td class="center">
                                <div class="progress">
                                  <div *ngIf="60 > quahan.tile_hoanthanh" class="progress-bar-danger" role="progressbar"
                                    [aria-valuenow]="quahan.tile_hoanthanh" aria-valuemin="0" aria-valuemax="100"
                                    [style]="{ 'width': quahan.tile_hoanthanh+'%'}">
                                    <span class="sr-only">60% Complete</span>
                                  </div>
                                  <div *ngIf="quahan.tile_hoanthanh > 60" class="progress-bar-warning" role="progressbar"
                                    [aria-valuenow]="quahan.tile_hoanthanh" aria-valuemin="0" aria-valuemax="100"
                                    [style]="{ 'width': quahan.tile_hoanthanh+'%'}">
                                    <span class="sr-only">60% Complete</span>
                                  </div>
                                  <div *ngIf="quahan.tile_hoanthanh == 100" class="progress-bar-success"
                                    role="progressbar" [aria-valuenow]="quahan.tile_hoanthanh" aria-valuemin="0"
                                    aria-valuemax="100" [style]="{ 'width': quahan.tile_hoanthanh+'%'}">
                                    <span class="sr-only">60% Complete</span>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
          <div *ngIf= "this.list_dagiao.length >0 || this.list_duocgiao.length > 0  " class="row">
            <div class="col-md-6">
              <div class="panel panel-default sbox">
                <div class="panel-body card-body text-left pd-0">
                  <h4 class="ng-binding color-blue"><strong>Biểu đồ trạng thái công việc đã giao</strong>
                  </h4>
                  <div class="clearfix">
                    <canvas id="congviec_dagiao_canhan" width="1200px" height="500"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default sbox">
                <div class="panel-body card-body text-left pd-0">
                  <h4 class="ng-binding color-blue"><strong>Biểu đồ trạng thái công việc cần thực hiện</strong>
                  </h4>
                  <div class="clearfix">
                    <canvas id="congviec_duocgiao_canhan" width="1200px" height="500"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="this.list_dagiao.length > 0" class="row">
            <div class="col-md-12">
              <div class="panel panel-default sbox">
                <div class="panel-body card-body text-left pd-0">
                  <h4 class="ng-binding color-blue"><strong>Danh sách công việc đã giao</strong>
                  </h4>
                  <div class="clearfix">
                    <div id="grid-result" class="body">
                      <div class="hr-grid table-responsive">
                        <table class="table table-sm">
                          <thead>
                            <tr>
                              <th class="w200 center">Tên công việc</th>
                              <th class="w79 center">Tính chất</th>
                              <th class="w150 center">Đơn vị chủ trì</th>
                              <th class="w35 center">Người chủ trì</th>
                              <th class="w35 center">Người giám sát</th>
                              <th class="w35 center">Ngày bắt đầu</th>
                              <th class="w35 center">Ngày kết thúc</th>
                              <th class="w100 center">Trạng thái</th>
                              <th class="w35 center">Tiến độ</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let dagiao of list_dagiao">
                              <td class="font-600">{{ dagiao.ten_cv }}</td>
                              <td *ngIf="dagiao.tinh_chat == 1" class="center color-red">
                                <img src="../../../../assets/images/fast.png" style="width: 30px;" alt="" /> Khẩn
                              </td>
                              <td *ngIf="dagiao.tinh_chat == 0" class="center color-red">
                                <img src="../../../../assets/images/normal.jpg" style="width: 20px;" alt="" /> Thường
                              </td>
                              <td>{{ dagiao.donvi_chutri }}</td>
                              <td class="center">{{ dagiao.nguoi_chutri }}</td>
                              <td class="center">{{ dagiao.nguoi_giamsat }}</td>
                              <td class="center">{{ dagiao.ngay_batdau }}</td>
                              <td class="center">{{ dagiao.ngay_ketthuc }}</td>
                              <td *ngIf="dagiao.trangthai == 3"><span class="bold center bg_red pd-5">{{
                                  dagiao.ten_trangthai}}</span></td>
                              <td *ngIf="dagiao.trangthai == 2"><span class="bold center bg_green pd-5">{{
                                  dagiao.ten_trangthai}}</span></td>
                              <td *ngIf="dagiao.trangthai == 1"><span class="bold center pd-5">{{
                                  dagiao.ten_trangthai}}</span></td>
                              <td *ngIf="dagiao.trangthai == 0"><span class="bold center bg_warning pd-5">{{
                                  dagiao.ten_trangthai}}</span></td>
  
                              <td class="center">
                                <div class="progress">
                                  <div *ngIf="60 > dagiao.tile_hoanthanh" class="progress-bar-danger" role="progressbar"
                                    [aria-valuenow]="dagiao.tile_hoanthanh" aria-valuemin="0" aria-valuemax="100"
                                    [style]="{ 'width': dagiao.tile_hoanthanh+'%'}">
                                    <span class="sr-only">{{dagiao.tile_hoanthanh}}% hoàn thành</span>
                                  </div>
                                  <div *ngIf="dagiao.tile_hoanthanh > 60" class="progress-bar-warning" role="progressbar"
                                    [aria-valuenow]="dagiao.tile_hoanthanh" aria-valuemin="0" aria-valuemax="100"
                                    [style]="{ 'width': dagiao.tile_hoanthanh+'%'}">
                                    <span class="sr-only">{{dagiao.tile_hoanthanh}}% hoàn thành</span>
                                  </div>
                                  <div *ngIf="dagiao.tile_hoanthanh == 100" class="progress-bar-success"
                                    role="progressbar" [aria-valuenow]="dagiao.tile_hoanthanh" aria-valuemin="0"
                                    aria-valuemax="100" [style]="{ 'width': dagiao.tile_hoanthanh+'%'}">
                                    <span class="sr-only">{{dagiao.tile_hoanthanh}}% hoàn thành</span>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
          <div *ngIf="this.list_duocgiao.length > 0" class="row">
            <div class="col-md-12">
              <div class="panel panel-default sbox">
                <div class="panel-body card-body text-left pd-0">
                  <h4 class="ng-binding color-blue"><strong>Danh sách công việc cần thực hiện</strong>
                  </h4>
                  <div class="clearfix">
                    <div id="grid-result" class="body">
                      <div class="hr-grid table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th class="w200 center">Tên công việc</th>
                              <th class="w35 center">Tính chất</th>
                              <th class="w35 center">Người giao</th>
                              <th class="w35 center">Người giám sát</th>
                              <th class="w35 center">Ngày bắt đầu</th>
                              <th class="w35 center">Ngày kết thúc</th>
                              <th class="w100 center">Trạng thái</th>
                              <th class="w35 center">Số ngày còn lại</th>
                              <th class="w35 center">Tiến độ</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let duocgiao of list_duocgiao">
                              <td class="font-600">{{ duocgiao.ten_cv }}</td>
                              <td *ngIf="duocgiao.tinh_chat == 1" class="center color-red">
                                <img src="../../../../assets/images/fast.png" style="width: 28px;" alt="" /> Khẩn
                              </td>
                              <td *ngIf="duocgiao.tinh_chat == 0" class="center">
                                <img src="../../../../assets/images/normal.jpg" style="width: 20px;" alt="" /> Thường
                              </td>
                              <td>{{ duocgiao.nguoigiao }}</td>
                              <td class="center">{{ duocgiao.nguoi_giamsat }}</td>
                              <td class="center">{{ duocgiao.ngay_batdau }}</td>
                              <td class="center">{{ duocgiao.ngay_ketthuc }}</td>
                              <td *ngIf="duocgiao.trangthai == 3"><span class="bold center bg_red pd-5">{{
                                  duocgiao.ten_trangthai}}</span></td>
                              <td *ngIf="duocgiao.trangthai == 2"><span class="bold center bg_green pd-5 ">{{
                                  duocgiao.ten_trangthai}}</span></td>
                              <td *ngIf="duocgiao.trangthai == 1"><span class="bold center pd-5">{{
                                  duocgiao.ten_trangthai}}</span></td>
                              <td *ngIf="duocgiao.trangthai == 0"><span class="bold center bg_warning pd-5"> {{
                                  duocgiao.ten_trangthai}}</span></td>
                              <td class="center">{{ duocgiao.songay_conlai }}</td>
                              <td class="center">
                                <div class="progress">
                                  <div *ngIf="60 > duocgiao.tile_hoanthanh" class="progress-bar-danger" role="progressbar"
                                    [aria-valuenow]="duocgiao.tile_hoanthanh" aria-valuemin="0" aria-valuemax="100"
                                    [style]="{ 'width': duocgiao.tile_hoanthanh+'%'}">
                                    <span class="sr-only">{{duocgiao.tile_hoanthanh}}% hoàn thành</span>
                                  </div>
                                  <div *ngIf="duocgiao.tile_hoanthanh >= 60" class="progress-bar-warning"
                                    role="progressbar" [aria-valuenow]="duocgiao.tile_hoanthanh" aria-valuemin="0"
                                    aria-valuemax="100" [style]="{ 'width': duocgiao.tile_hoanthanh+'%'}">
                                    <span class="sr-only">{{duocgiao.tile_hoanthanh}}% hoàn thành</span>
                                  </div>
                                  <div *ngIf="duocgiao.tile_hoanthanh == 100" class="progress-bar-success"
                                    role="progressbar" [aria-valuenow]="duocgiao.tile_hoanthanh" aria-valuemin="0"
                                    aria-valuemax="100" [style]="{ 'width': duocgiao.tile_hoanthanh+'%'}">
                                    <span class="sr-only">{{duocgiao.tile_hoanthanh}}% hoàn thành</span>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">

  </div>
</form>