<section id="main" class="extend clearfix" style="min-height: 700px;">
  <div class="header-div">
    <div class="header-text">
      <h3 style="float: left">
        <a href="/">
          <span class="header-img">
            <img src="../../../../assets/images/logo_ktm.png">
            Danh mục phân xưởng sản xuất
          </span>
        </a>
      </h3>
    </div>
  </div>
  <div class="danhsachcongviec" style="background: #fff !important;">
    <div class="row row-frm">      
      <div class="col-sm-12">
        <div class="modal-body">
          <div class="clearfix">
            <div id="grid-result" class="body">
              <div *ngIf="type_view == false">
                <table class="table table-condensed table-striped table-bordered">
                  <thead>
                    <tr>
                      <th class="col-sm-1">STT</th>
                      <th class="col-sm-2">Mã vật tư</th>
                      <th class="col-sm-1">Giá</th>
                      <th class="col-sm-1">Đơn vị tính</th>
                      <th class="col-sm-2">Ghi chú</th>
                      <th class="col-sm-2">Từ ngày</th>
                      <th class="col-sm-2">Đến ngày</th>
                      <th class="col-sm-2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let giavattu of giavattus | filter:term | paginate: { itemsPerPage: 15, currentPage: p };let i = index">
                      <td class="text-center">{{i + 1 }}</td>
                      <td>
                        {{giavattu.ma_vattu}}
                      </td>
                      <td>
                        {{giavattu.gia}}
                      </td>
                      <td>
                        {{giavattu.donvi_tinh}}
                      </td>
                      <td>
                        {{giavattu.ghichu}}
                      </td>
                      <td>
                        {{giavattu.tungay_fm}}
                      </td>
                      <td>
                        {{giavattu.denngay_fm}}
                      </td>
                      <td class="text-center chucnang-fa">
                        <a href="javascript:void(0);" (click)="edit(giavattu)">
                          <i class="fa fa-edit" style="color: blue; font-size: 20px;"></i>
                        </a>
                        <a href="javascript:void(0);" (click)="deletegiavattu(giavattu)">
                          <i class="fa fa-times-circle" style="color: red; font-size: 20px;"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="type_view">
                <div
                  *ngFor="let giavattu of giavattus  | filter:term | paginate: { itemsPerPage: 8, currentPage: p }; let i = index"
                  class="col-sm-12 nhansu-detail">
                  <div class="edit-card-custom">
                    <a class="text-center tooltips c-pointer" (click)="edit(giavattu)"
                      style="position: absolute; right: 30px; cursor:pointer;">
                      <i class="fa fa-edit" style="color: blue; font-size: 20px;"></i>
                    </a>
                    <a class="text-center tooltips c-pointer" (click)="deletegiavattu(giavattu)"
                      style="position: absolute; right: 8px; cursor:pointer;">
                      <i class="fa fa-times-circle" style="color: red; font-size: 20px;"></i>

                    </a>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="nhansu-name">
                        <i *ngIf="giavattu.trangthai == 0" style="margin-right: 5px; color: chartreuse;"
                          class="fa fa-circle"></i>
                        <i *ngIf="giavattu.trangthai != 0" style="margin-right: 5px; color: red;"
                          class="fa fa-circle"></i>
                        {{giavattu.ten}}
                      </p>
                    </div>
                    <div class="col-sm-6">
                      <label> Tên đơn vị: {{giavattu.tendonvi}}</label>
                    </div>
                    <div class="col-sm-6">
                      <div class="float-input" title="Nội dung">
                        <label class="disabled">Nội dung <span class="required"></span></label>
                        <textarea type="text" readonly style="background-color: #fff;" [(ngModel)]="giavattu.noidung"
                          class="form-control trichyeuvanban"></textarea>
                      </div>                    
                    </div>
                    <div class="col-sm-6">
                      <div class="float-input" title="Văn bản đính kèm">
                        <table class="table table-condensed table-striped table-bordered">
                          <thead>
                            <tr>
                              <th class="col-sm-1">STT</th>
                              <th class="col-sm-7">Tên File</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let fileat of giavattu.file; let i = index">
                              <td>{{i + 1 }}</td>
                              <td>
                                <a href="{{serviceBase}}/{{fileat[8]}}" target="_blank">{{ fileat[9] }}</a>
                              </td>                            
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gray-bg btn-block">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row row-frm">
                      <div class="col-md-6">
                        <span class="grid-counter gray-color fc-666 pull-left">Có <strong>{{totalItems}}</strong>
                          nguồn phát sinh</span>
                      </div>
                      <div class="col-md-6">
                        <pagination-controls (pageChange)="p = $event" class="pull-right" previousLabel="" nextLabel="">
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <ul class="list-inline icon-note gray-color">
                    <li>Ghi chú: </li>
                    <li>
                      <i style="margin-right: 5px; color: chartreuse;" class="fa fa-circle"></i>Đang dùng
                    </li>
                    <li>
                      <i style="margin-right: 5px; color: red;" class="fa fa-circle"></i> Khóa
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-right" style="background: #fff !important">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="treeview-dashboard" data-toggle="tooltip" data-placement="auto" title=""
        data-original-title="Xem công việc dạng tổng quan">

        <a class="text-center tooltips c-pointer" data-value="danhsach" (click)="add()" title="Thêm nguồn phát sinh">
          <i class="fa fa-plus-circle"></i>
        </a>
      </li>
      <li class="treeview-board" data-toggle="tooltip" data-placement="auto" title=""
        title="Xem nguồn phát sinh dạng bảng">
        <a class="text-center tooltips c-pointer" (click)="viewboard();">
          <i class="fa fa-columns"></i>
        </a>
      </li>
      <li class="treeview-nhansu" data-toggle="tooltip" data-placement="auto" title="Xem nguồn phát sinh dạn danh sách">
        <a class="text-center tooltips c-pointer" (click)="viewlist();">
          <i class="fa fa-calendar"></i>
        </a>
      </li>
    </ul>
  </div>
</section>