<section id="main" class="extend clearfix" style="min-height: 700px;">
  <div class="header-div">
    <div class="header-text">
      <h3 style="float: left">
        <a href="/">
          <span class="header-img">
            <img src="../../../../assets/images/logo_ktm.png">
            Ủy quyền giao việc
          </span>
        </a>
      </h3>
    </div>
  </div>
  <div class="danhsachcongviec" style="background: #fff !important;">
    <div class="row row-frm">      
      <div class="col-sm-12">
        <div class="modal-body">
          <div class="clearfix">
            <div id="grid-result" class="body">
              <div>
                <table class="table table-condensed table-striped table-bordered">
                  <thead>
                    <tr>
                      <th class="col-sm-1 text-center">STT</th>
                      <th class="col-sm-3 ">Họ Tên</th>
                      <th class="col-sm-3 ">Chức danh</th>
                      <th class="col-sm-4 ">Đơn vị</th>
                      <th class="col-sm-1 text-center">chức năng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let giamsat of nguoigiamsats | filter:term | paginate: { itemsPerPage: 15, currentPage: p };let i = index">
                      <td class="text-center">{{i + 1}}</td>
                      <td><img src="{{serviceBase}}/{{giamsat.duongdan_file}}/{{giamsat.ten_file}}"
                        onerror="this.src='../../../../assets/images/icon_account.png';" class="img-icon-nhanvien" />
                        {{giamsat.ten_nd}}
                      </td>
                      <td>
                        {{giamsat.chucdanh}}
                      </td>
                      <td>
                        {{giamsat.ten_dv}}
                      </td>
                      <td class="text-center chucnang-fa">
                        <a href="javascript:void(0);" (click)="deletenguoigiamsat(giamsat)">
                          <i class="fa fa-times-circle" style="color: red; font-size: 20px;"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>              
              <div class="gray-bg btn-block">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row row-frm">
                      <div class="col-md-6">
                        <span class="grid-counter gray-color fc-666 pull-left">Có <strong>{{totalItems}}</strong>
                          người giám sát</span>
                      </div>
                      <div class="col-md-6">
                        <pagination-controls (pageChange)="p = $event" class="pull-right" previousLabel="" nextLabel="">
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <ul class="list-inline icon-note gray-color">
                    <li>Ghi chú: </li>
                    <li>
                      <i style="margin-right: 5px; color: chartreuse;" class="fa fa-circle"></i>Đang dùng
                    </li>
                    <li>
                      <i style="margin-right: 5px; color: red;" class="fa fa-circle"></i> Khóa
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-right" style="background: #fff !important">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="treeview-dashboard" data-toggle="tooltip" data-placement="auto" title=""
        data-original-title="Xem công việc dạng tổng quan">

        <a class="text-center tooltips c-pointer" data-value="danhsach" (click)="add()" title="Thêm nguồn phát sinh">
          <i class="fa fa-plus-circle"></i>
        </a>
      </li>
      <li class="treeview-board" data-toggle="tooltip" data-placement="auto" title=""
        title="Xem nguồn phát sinh dạng bảng">
        <a class="text-center tooltips c-pointer" (click)="viewboard();">
          <i class="fa fa-columns"></i>
        </a>
      </li>
      <li class="treeview-nhansu" data-toggle="tooltip" data-placement="auto" title="Xem nguồn phát sinh dạn danh sách">
        <a class="text-center tooltips c-pointer" (click)="viewlist();">
          <i class="fa fa-calendar"></i>
        </a>
      </li>
    </ul>
  </div>
</section>